<h2>Current Status: Level <%= level %></h2>
<div class="alert alert-success jumbotron">
  <h1>
    <i class="icon fa fa-check" aria-hidden="true"></i>CLEAR
  </h1>
  <p>No alert in last xx hours.</p>
</div>

<div class="alert alert-info jumbotron">
  <h1>
    <i class="icon fa fa-info" aria-hidden="true"></i>INFO
  </h1>
  <p>Info alert happend xx minutes before.</p>
</div>

<div class="alert alert-warning jumbotron">
  <h1>
    <i class="icon fa fa-warning" aria-hidden="true"></i>WARNING
  </h1>
  <p>Warning alert happend xx minutes before.</p>
</div>

<div class="alert alert-danger jumbotron">
  <h1>
    <i class="icon fa fa-ban" aria-hidden="true"></i>DANGER
  </h1>
  <p>Critical alert happend xx minutes before.</p>
</div>
