<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/AdminLTE.min.css" rel="stylesheet">
  <link href="/css/AdminLTE/skin-black.min.css" rel="stylesheet">
  <link href="/css/poloxy.css" rel="stylesheet">
</head>
<body class="skin-black sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>LY</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>POLOXY</b> BOARD</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="nav-menu-item">
          <strong>
            <a href="https://github.com/key-amb/poloxy" target="_blank">poloxy</a>
          </strong>
          by <a href="https://github.com/key-amb" target="_blank">key-amb</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li <% if @action == '#board' %>class="active"<% end %>><a href="/board"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li <% if @action == '#forwards' %>class="active"<% end %>><a href="/forwards"><i class="fa fa-envelope-o"></i> <span>Outgoing Notifications</span></a></li>
        <li <% if @action == '#inwards' %>class="active"<% end %>><a href="/inwards"><i class="fa fa-feed"></i> <span>Incoming Alerts</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <%= yield %>

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Copyright &copy; 2016, YASUTAKE Kiyoshi; MIT License
    </div>
    <!-- Default to the left -->
    &nbsp;<!-- Text to display -->
  </footer>

</div>
<!-- ./wrapper -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/AdminLTE-app.min.js"></script>
</body>
</html>
