a.icon {
  color: #fff
}

a.btn {
  color: #3c8dbc;
  margin-left:  5px;
  margin-right: 5px;
}

h1 > span.icon {
  font-size:   18px;
  font-weight: normal;
}

/* ---------- nav ---------- */
li.nav-menu-item {
  height:           50px;
  line-height:      50px;
  padding:          0 15px;
  color:            #444;
  background-color: #fff;
}

/* override skin-black.css */
.skin-black .main-header > .navbar .nav > li > a {
  color: #3c8dbc;
  border-style: none;
}
.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header > .navbar .navbar-right > li > a {
  border-style: none;
}

li.nav-menu-item > a {
  display: inline;
  line-height: 50px;
  padding:     0px;
}
/* ---------- /nav ---------- */

/* ---------- info-box ----------*/
button.ibx-btn {
  margin-left:  10px;
  margin-right: 10px;
}
button.ibx-btn-sm {
  margin-left:  5px;
  margin-right: 5px;
}

/* info-box main */
div.info-box.ibx-main {
  height:      160px;
  line-height: 240%;
}
span.info-box-icon.ibx-main {
  height:      160px;
  width:       160px;
  line-height: 160px;
  font-size:   100px;
}
.info-box-content.ibx-main {
  font-size: 18px;
}
div.info-box-content.ibx-main {
  padding-top: 15px;
}
span.ibx-main-text {
  margin-left: 10px;
}
span.ibx-main-title {
  font-size:   54px;
  font-style:  italic;
  font-weight: bold;
  margin-left: 10px;
}

/* info-box child */
div.info-box.ibx-child {
  height:      90px;
  line-height: 130%;
}
a.ibx-child-header {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
span.ibx-child-title {
  font-size:   16px;
  font-weight: bold;
}
/* ---------- /info-box ----------*/
